body {
    background-image: url(images/index.jpg);
   
}

h1 {
color: blue;
text-align: center;
position: relative;
}
h2 {
    font-weight: bold;
     text-decoration:underline;
     }

.bloc-droit {
  float:right;
  width:170px;
  color:rebeccapurple;
  border-left:solid 1px;
  padding-left:8px;
  position: absolute;
  margin: 10px;
  
}


#img1 {
 
      border-radius: 50%;
      position:absolute;
      top:20px;
      right:20px;
}



li {
    font-weight: bold;
}
#Soustitre {
    color: rebeccapurple;
}