body {
    background-image: url(images/index.jpg);
   
}

h1 {
color:rgb(105, 216, 123);
text-align: center;
position: relative;
}
h1.titre:before {
    background:rgb(255, 251, 7);
    width:30px;
    content:"";
    display:inline-block;
    height:15px;
    margin-right:10px;
 }
 h1.titre:after {
    background:rgb(255, 251, 7);
    width:30px;
    content:"";
    display:inline-block;
    height:15px;
    margin-left:10px;
 }
h2 {
    font-weight: bold;
     text-decoration:underline;
     }

.bloc-droit {
  float:right;
  width:170px;
  color:rebeccapurple;
  border-left:solid 1px;
  padding-left:8px;
  position: absolute;
  margin: 10px;
  font-size: 120%;
  
}


#img1 {
 
      border-radius: 50%;
      position:absolute;
      top:20px;
      right:20px;
}



li {
    font-weight: bold;
    font-size: 120%;
}
#Soustitre {
    color: rebeccapurple;
    font-size: 120%;
}
p {
    font-size: 120%;
}

.div2 {
text-align: center;
}